In [1]:
#importing census data and census tracts data
import pandas as pd

directory = "../raw_data_lite/"

census_tracts = pd.read_excel(f"{directory}nyc2010census_tabulation_equiv.xlsx")
census_1year = pd.read_csv(f"{directory}ACSDP1Y2018.DP03_data_with_overlays_2021-08-03T213532.csv")
census_5year = pd.read_csv(f"{directory}ACSDP5Y2018.DP03_data_with_overlays_2021-08-03T221820.csv")

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,32,38,39,40,42,43,46,47,50,51,54,55,56,58,59,62,63,64,66,67,70,71,72,74,75,78,79,82,83,86,87,90,91,94,95,102,103,104,106,107,110,111,114,115,118,119,122,123,126,127,128,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,184,186,187,190,191,194,195,198,199,202,203,204,206,207,210,211,214,215,218,219,222,223,226,227,230,231,234,235,238,239,242,243,254,255,262,263,270,271,278,279,286,287,294,295,298,299,300,302,303,306,307,310,311,314,315,318,319,322,323,326,327,330,331,334,335,338,339,354,355,356,378,379,380,382,383,386,387,390,391,394,395,398,399,400,402,403,406,407,408,410,411,412,414,415,416,418,419,422,423,426,427,430,431,434,435,436,438,439,442,443,446,447,450,451,454,455,456,458,459,462,463,466,467,470,471) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Preprocessing the data

In [2]:
#getting all the necessary geojson files

import geopandas as gpd
#converting the NTA and taxi zones data into geojson files
directory = "../raw_data_lite/"
taxi_zones_shp = gpd.read_file(f"{directory}taxi_zones.shp")
taxi_zones_shp.to_file(f"{directory}taxi_zones.geojson", drivers = 'GeoJSON')

nta_shp = gpd.read_file(f"{directory}nynta_21b/nynta.shp")
nta_shp.to_file(f"{directory}nta.geojson", drivers = 'GeoJSON')
#reading the files in as dataframes
taxi_zones = gpd.read_file(f"{directory}taxi_zones.geojson")
nta = gpd.read_file(f"{directory}nta.geojson")
boroughs = gpd.read_file(f"{directory}Borough Boundaries.geojson")

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [3]:
import numpy as np

#replacing all unavailable data with np.NaN for type consistency
census_1year.replace('(X)', np.nan)
census_5year.replace('(X)', np.nan)

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0135PE,DP03_0135PM,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM
0,id,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,7080,NaN,0,17,0.0,0.5,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",3684,491,3684,NaN,1873,296,50.8,6.7,...,12.5,7.3,NaN,NaN,16.2,10.0,NaN,NaN,48.8,11.3
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",4689,425,4689,NaN,3052,385,65.1,5.1,...,14.4,9.3,NaN,NaN,7.3,4.7,NaN,NaN,21.5,10.9
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",4598,351,4598,NaN,2477,266,53.9,4.5,...,22.9,9.7,NaN,NaN,21.2,8.7,NaN,NaN,28.9,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",4852,447,4852,NaN,2961,367,61.0,6.1,...,7.7,9.3,NaN,NaN,17.2,7.4,NaN,NaN,8.2,6.7
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",2107,322,2107,NaN,818,245,38.8,7.9,...,60.7,18.9,NaN,NaN,41.1,12.6,NaN,NaN,89.4,8.7
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",3716,379,3716,NaN,1946,339,52.4,6.9,...,43.5,20.8,NaN,NaN,33.8,12.2,NaN,NaN,58.7,17.6
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",939,152,939,NaN,527,141,56.1,12.3,...,0.0,26.1,NaN,NaN,19.4,15.5,NaN,NaN,38.6,24.4
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,0,NaN,0,12,-,**,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**

In [4]:
#Cut out the first 4 redundant rows
census_tracts = census_tracts.iloc[4:,:]

In [5]:
#Create a dictionary for tract code -> nta code (county in col 0, code in col 3, nta in col 4)
tracts_to_nta = {}

for index, row in census_tracts.iterrows():
    # The dictionary format is (County, Code) : NTA Code to handle repeating codes
    # in different counties
    tracts_to_nta[(row['Unnamed: 0'], row['Unnamed: 3'])] = row['Unnamed: 5']

In [6]:
#Forming a header and their respective IDs from columns of interest, done by inspection
# of original dataset - no mapping guide available. All estimates and margin of errors
# are taken in place of percent estimates as we need to aggregate certain tracts

header = ['GEO_ID', 'Name', 
         'Civilian labor force estimates', 'Civilian labor force error',
         'Unemployment estimates', 'Unemployment error',
         'Employed estimates', 'Employed error', 
         'Agriculture, forestry, fishing and hunting, and mining estimates',
         'Agriculture, forestry, fishing and hunting, and mining error',
         'Construction estimates', 'Construction error', 'Manufacturing estimates',
         'Manufacturing error', 'Wholesale trade estimates', 'Wholesale trade error',
         'Retail trade estimates', 'Retail trade error', 
         'Transportation and warehousing, and utilities estimates',
         'Transportation and warehousing, and utilities error',
         'Information estimates', 'Information error', 
         'Finance and insurance, and real estate and rental and leasing estimates',
         'Finance and insurance, and real estate and rental and leasing error',
         'Professional, scientific, and management, and administrative and waste management services estimates',
         'Professional, scientific, and management, and administrative and waste management services error',
         'Educational services, and health care and social assistance estimates',
         'Educational services, and health care and social assistance error',
         'Arts, entertainment, and recreation, and accommodation and food services estimates',
         'Arts, entertainment, and recreation, and accommodation and food services error',
         'Other services, except public administration estimates',
         'Other services, except public administration error',
         'Public administration estimates', 'Public administration error',
         'Total households estimates', 'Total households error',
         'Less than 10,000 estimates', 'Less than 10,000 error',
         '10,000 to 14,999 estimates', '10,000 to 14,999 error',
         '15,000 to 24,999 estimates', '15,000 to 24,999 error',
         '25,000 to 34,999 estimates', '25,000 to 34,999 error',
         '35,000 to 49,999 estimates', '35,000 to 49,999 error',
         '50,000 to 74,999 estimates', '50,000 to 74,999 error',
         '75,000 to 99,999 estimates', '75,000 to 99,999 error',
         '100,000 to 149,999 estimates', '100,000 to 149,999 error',
         '150,000 to 199,999 estimates', '150,000 to 199,999 error',
         '200,000 or more estimates', '200,000 or more error']

header_ID = ['GEO_ID', 'NAME',
            'DP03_0003E', 'DP03_0003M', 'DP03_0005E', 'DP03_0005M', 
            'DP03_0032E', 'DP03_0032M', 'DP03_0033E', 'DP03_0033M',
            'DP03_0034E', 'DP03_0034M', 'DP03_0035E', 'DP03_0035M',
            'DP03_0036E', 'DP03_0036M', 'DP03_0037E', 'DP03_0037M',
            'DP03_0038E', 'DP03_0038M', 'DP03_0039E', 'DP03_0039M', 
            'DP03_0040E', 'DP03_0040M', 'DP03_0041E', 'DP03_0041M', 
            'DP03_0042E', 'DP03_0042M', 'DP03_0043E', 'DP03_0043M', 
            'DP03_0044E', 'DP03_0044M', 'DP03_0045E', 'DP03_0045M', 
            'DP03_0051E', 'DP03_0051M', 'DP03_0052E', 'DP03_0052M', 
            'DP03_0053E', 'DP03_0053M', 'DP03_0054E', 'DP03_0054M',
            'DP03_0055E', 'DP03_0055M', 'DP03_0056E', 'DP03_0056M',
            'DP03_0057E', 'DP03_0057M', 'DP03_0058E', 'DP03_0058M',
            'DP03_0059E', 'DP03_0059M', 'DP03_0060E', 'DP03_0060M', 
            'DP03_0061E', 'DP03_0061M']

# create dictionary that assigns the IDs into readable names
header_dict = {header_ID[i]: header[i] for i in range(0, len(header))}

In [7]:
#formatting the dataset
def census_converter(dataset):
    """A function that takes the census dataset and returns wanted columns"""
    new_dataset = dataset[header_ID]

    return new_dataset
#converting each set into one with correct headers and columns of interest
census_1year = census_converter(census_1year)
census_1year = census_1year.iloc[1:,:]
census_1year.rename(columns = header_dict, inplace = True)

census_5year = census_converter(census_5year)
census_5year = census_5year.iloc[1:,:]
census_5year.rename(columns = header_dict, inplace = True)

In [8]:
# appending corresponding NTA Codes into the census_5year dataframe

# creating a conversion from NYC boroughs to NY counties
# New York is listed as 'New' to fit with string slicing consistency
boroughs_to_counties = {'New': 'Manhattan',
                        'Queens' : 'Queens',
                        'Kings': 'Brooklyn',
                        'Richmond': 'Staten Island',
                        'Bronx': 'Bronx'}
# create a column holding all the NTA Codes
nta_column = []
for index, row in census_5year.iterrows():
    #split the name into single words, then slice them into singular county name
    # and convert them to boroughs
    county = row['Name'].split()
    county = county[3:]
    county = county[:1]
    county = boroughs_to_counties[county[0]]
    # Find NTA Code using tracts_to_nta dictionary
    nta_column.append(tracts_to_nta[(county, row['GEO_ID'][-6::])])

In [9]:
# insert the column
census_5year.insert(2, "NTACode", nta_column, True)

In [10]:
# convert all the estimate data into integers to support operations
for i in range(2, len(header)):
    census_5year[header[i]] = pd.to_numeric(census_5year[header[i]])

In [11]:
#after successful conversion, we only need the NTA Code, discard other GEO information.
census_5year.drop(['GEO_ID', 'Name'], axis = 1, inplace = True )
census_1year.drop(['GEO_ID', 'Name'], axis = 1, inplace = True)
#summing the 5year data with NTA Codes as a grouping
census_5year = census_5year.groupby('NTACode').sum()

In [12]:
#Turn the NTA Codes into a column instead of index
census_5year.insert(0, 'NTACode', census_5year.index, True)

In [13]:
#save the preprocessed census files into preprocessed_data

census_5year.to_csv('../preprocessed_data/census_5year.csv')
census_1year.to_csv('../preprocessed_data/census_1year.csv')

In [14]:
census_5year

,NTACode,Civilian labor force estimates,Civilian labor force error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates","Agriculture, forestry, fishing and hunting, and mining error",Construction estimates,...,"50,000 to 74,999 estimates","50,000 to 74,999 error","75,000 to 99,999 estimates","75,000 to 99,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
NTACode,,,,,,,,,,,,,,,,,,,,,
BK09,BK09,14526,1497,446,294,14080,1471,53,113,212,...,899,437,1231,518,1781,600,1570,556,3634,779
BK17,BK17,32882,4333,2250,1294,30632,4148,5,244,2048,...,3763,1464,3027,1352,3848,1478,1967,1041,1888,954
BK19,BK19,15055,2388,893,659,14162,2276,48,149,1012,...,2232,852,1165,619,1429,712,727,510,667,375
BK21,BK21,11879,2117,1529,773,10350,1921,23,123,734,...,1279,645,668,430,1060,521,279,215,288,265
BK23,BK23,7945,1107,358,305,7587,1062,0,58,343,...,1342,469,1000,459,732,360,383,277,264,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SI37,SI37,11371,1716,716,466,10655,1661,0,101,704,...,1237,537,1136,525,1337,521,562,359,523,343
SI45,SI45,10238,1302,497,304,9741,1255,0,65,768,...,1187,480,1391,562,1553,512,859,356,612,313
SI48,SI48,13187,1268,627,316,12560,1251,12,65,799,...,1507,569,970,393,1949,607,1241,501,947,377
SI54,SI54,21001,2486,1248,679,19753,2341,0,116,1501,...,1931,875,2305,932,3593,1085,1779,719,1726,778
SI99,SI99,0,24,0,24,0,24,0,24,0,...,0,24,0,24,0,24,0,24,0,24