In [6]:
#importing census data and census tracts data
import pandas as pd

directory = "../raw_data_lite/"


census_2018 = pd.read_csv(f"{directory}ACSDP5Y2018.DP03_data_with_overlays_2021-08-03T221820.csv")
census_2017 = pd.read_csv(f"{directory}ACSDP5Y2017.DP03_data_with_overlays_2021-08-10T212233.csv")

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,32,38,39,40,42,43,46,47,50,51,54,55,56,58,59,62,63,64,66,67,70,71,72,74,75,78,79,82,83,86,87,90,91,94,95,102,103,104,106,107,110,111,114,115,118,119,122,123,126,127,128,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,184,186,187,190,191,194,195,198,199,202,203,204,206,207,210,211,214,215,218,219,222,223,226,227,230,231,234,235,238,239,242,243,254,255,262,263,270,271,278,279,286,287,294,295,298,299,300,302,303,306,307,310,311,314,315,318,319,322,323,326,327,330,331,334,335,338,339,354,355,356,378,379,380,382,383,386,387,390,391,394,395,398,399,400,402,403,406,407,408,410,411,412,414,415,416,418,419,422,423,426,427,430,431,434,435,436,438,439,442,443,446,447,450,451,454,455,456,458,459,462,463,466,467,470,471) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Preprocessing the data

In [7]:
#getting all the necessary geojson files

import geopandas as gpd
#converting the tracts and taxi zones data into geojson files
directory = "../raw_data_lite/"
taxi_zones_shp = gpd.read_file(f"{directory}taxi_zones.shp")
taxi_zones_shp.to_file(f"{directory}taxi_zones.geojson", drivers = 'GeoJSON')

tracts_shp = gpd.read_file(f"{directory}nyct2010_21b/nyct2010.shp")
tracts_shp.to_file(f"{directory}tracts.geojson", drivers = 'GeoJSON')
#reading the files in as dataframes
taxi_zones = gpd.read_file(f"{directory}taxi_zones.geojson")
tracts = gpd.read_file(f"{directory}tracts.geojson")

In [8]:
import numpy as np

#replacing all unavailable data with np.NaN for type consistency
census_2017.replace('(X)', np.nan)
census_2018.replace('(X)', np.nan)

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0135PE,DP03_0135PM,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM
0,id,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,7080,NaN,0,17,0.0,0.5,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",3684,491,3684,NaN,1873,296,50.8,6.7,...,12.5,7.3,NaN,NaN,16.2,10.0,NaN,NaN,48.8,11.3
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",4689,425,4689,NaN,3052,385,65.1,5.1,...,14.4,9.3,NaN,NaN,7.3,4.7,NaN,NaN,21.5,10.9
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",4598,351,4598,NaN,2477,266,53.9,4.5,...,22.9,9.7,NaN,NaN,21.2,8.7,NaN,NaN,28.9,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",4852,447,4852,NaN,2961,367,61.0,6.1,...,7.7,9.3,NaN,NaN,17.2,7.4,NaN,NaN,8.2,6.7
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",2107,322,2107,NaN,818,245,38.8,7.9,...,60.7,18.9,NaN,NaN,41.1,12.6,NaN,NaN,89.4,8.7
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",3716,379,3716,NaN,1946,339,52.4,6.9,...,43.5,20.8,NaN,NaN,33.8,12.2,NaN,NaN,58.7,17.6
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",939,152,939,NaN,527,141,56.1,12.3,...,0.0,26.1,NaN,NaN,19.4,15.5,NaN,NaN,38.6,24.4
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,0,NaN,0,12,-,**,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**

In [9]:
#Forming a header and their respective IDs from columns of interest, done by inspection
# of original dataset - no mapping guide available. All estimates and margin of errors
# are taken in place of percent estimates as we need to aggregate certain tracts

header = ['GEO_ID', 'Name', 
         'Civilian labor force estimates', 'Civilian labor force error',
         'Unemployment estimates', 'Unemployment error',
         'Employed estimates', 'Employed error', 
         'Agriculture, forestry, fishing and hunting, and mining estimates',
         'Agriculture, forestry, fishing and hunting, and mining error',
         'Construction estimates', 'Construction error', 'Manufacturing estimates',
         'Manufacturing error', 'Wholesale trade estimates', 'Wholesale trade error',
         'Retail trade estimates', 'Retail trade error', 
         'Transportation and warehousing, and utilities estimates',
         'Transportation and warehousing, and utilities error',
         'Information estimates', 'Information error', 
         'Finance and insurance, and real estate and rental and leasing estimates',
         'Finance and insurance, and real estate and rental and leasing error',
         'Professional, scientific, and management, and administrative and waste management services estimates',
         'Professional, scientific, and management, and administrative and waste management services error',
         'Educational services, and health care and social assistance estimates',
         'Educational services, and health care and social assistance error',
         'Arts, entertainment, and recreation, and accommodation and food services estimates',
         'Arts, entertainment, and recreation, and accommodation and food services error',
         'Other services, except public administration estimates',
         'Other services, except public administration error',
         'Public administration estimates', 'Public administration error',
         'Total households estimates', 'Total households error',
         'Less than 10,000 estimates', 'Less than 10,000 error',
         '10,000 to 14,999 estimates', '10,000 to 14,999 error',
         '15,000 to 24,999 estimates', '15,000 to 24,999 error',
         '25,000 to 34,999 estimates', '25,000 to 34,999 error',
         '35,000 to 49,999 estimates', '35,000 to 49,999 error',
         '50,000 to 74,999 estimates', '50,000 to 74,999 error',
         '75,000 to 99,999 estimates', '75,000 to 99,999 error',
         '100,000 to 149,999 estimates', '100,000 to 149,999 error',
         '150,000 to 199,999 estimates', '150,000 to 199,999 error',
         '200,000 or more estimates', '200,000 or more error']

header_ID = ['GEO_ID', 'NAME',
            'DP03_0003E', 'DP03_0003M', 'DP03_0005E', 'DP03_0005M', 
            'DP03_0032E', 'DP03_0032M', 'DP03_0033E', 'DP03_0033M',
            'DP03_0034E', 'DP03_0034M', 'DP03_0035E', 'DP03_0035M',
            'DP03_0036E', 'DP03_0036M', 'DP03_0037E', 'DP03_0037M',
            'DP03_0038E', 'DP03_0038M', 'DP03_0039E', 'DP03_0039M', 
            'DP03_0040E', 'DP03_0040M', 'DP03_0041E', 'DP03_0041M', 
            'DP03_0042E', 'DP03_0042M', 'DP03_0043E', 'DP03_0043M', 
            'DP03_0044E', 'DP03_0044M', 'DP03_0045E', 'DP03_0045M', 
            'DP03_0051E', 'DP03_0051M', 'DP03_0052E', 'DP03_0052M', 
            'DP03_0053E', 'DP03_0053M', 'DP03_0054E', 'DP03_0054M',
            'DP03_0055E', 'DP03_0055M', 'DP03_0056E', 'DP03_0056M',
            'DP03_0057E', 'DP03_0057M', 'DP03_0058E', 'DP03_0058M',
            'DP03_0059E', 'DP03_0059M', 'DP03_0060E', 'DP03_0060M', 
            'DP03_0061E', 'DP03_0061M']

# create dictionary that assigns the IDs into readable names
header_dict = {header_ID[i]: header[i] for i in range(0, len(header))}

In [10]:
#formatting the dataset
def census_converter(dataset):
    """A function that takes the census dataset and returns wanted columns"""
    new_dataset = dataset[header_ID]

    return new_dataset
#converting each set into one with correct headers and columns of interest
census_2017 = census_converter(census_2017)
census_2017 = census_2017.iloc[1:,:]
census_2017.rename(columns = header_dict, inplace = True)

census_2018 = census_converter(census_2018)
census_2018 = census_2018.iloc[1:,:]
census_2018.rename(columns = header_dict, inplace = True)

In [11]:
#save the preprocessed census files into preprocessed_data

census_2018.to_csv('../preprocessed_data/census_2018.csv')
census_2017.to_csv('../preprocessed_data/census_2017.csv')

In [12]:
census_2018

,GEO_ID,Name,Civilian labor force estimates,Civilian labor force error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates","Agriculture, forestry, fishing and hunting, and mining error",...,"50,000 to 74,999 estimates","50,000 to 74,999 error","75,000 to 99,999 estimates","75,000 to 99,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",0,17,0,17,0,17,0,17,...,0,17,0,17,0,17,0,17,0,17
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873,296,295,201,1578,255,0,12,...,271,100,126,70,204,80,79,48,78,56
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052,385,244,128,2808,343,0,17,...,353,110,337,139,340,125,247,104,123,74
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477,266,164,73,2313,253,0,17,...,352,95,161,73,152,88,23,25,21,17
5,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451,202,192,81,1259,178,0,12,...,179,57,115,49,99,56,0,12,15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",2961,367,123,66,2838,349,0,17,...,389,126,378,114,436,120,230,95,49,36
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",818,245,71,51,747,235,0,12,...,133,72,100,66,68,60,7,11,9,15
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",1946,339,72,48,1874,332,0,17,...,102,71,91,63,278,101,148,96,77,58
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",527,141,10,16,517,135,0,12,...,44,28,79,44,43,30,83,43,6,10
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,0,12,0,12,0,12,...,0,12,0,12,0,12,0,12,0,12

In [13]:
census_2017

,GEO_ID,Name,Civilian labor force estimates,Civilian labor force error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates","Agriculture, forestry, fishing and hunting, and mining error",...,"50,000 to 74,999 estimates","50,000 to 74,999 error","75,000 to 99,999 estimates","75,000 to 99,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,11,0,11,0,11,0,11,...,0,11,0,11,0,11,0,11,0,11
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1014,234,27,21,987,239,0,11,...,55,37,10,15,11,13,8,12,7,9
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",3229,397,542,218,2687,373,0,16,...,479,188,131,75,284,117,167,123,175,85
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,11,0,11,0,11,0,11,...,0,11,0,11,0,11,0,11,0,11
5,1400000US36061000600,"Census Tract 6, New York County, New York",4031,804,502,275,3529,746,0,18,...,473,253,105,100,218,155,0,18,78,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",2834,285,113,70,2721,272,0,16,...,379,113,387,116,389,120,229,84,51,38
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",743,260,60,49,683,249,0,11,...,150,79,93,64,66,61,0,11,16,26
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",1797,277,83,45,1714,276,0,16,...,132,80,100,87,338,131,108,64,48,49
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",572,139,28,32,544,135,0,11,...,57,35,86,60,49,35,73,40,4,7
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,11,0,11,0,11,0,11,...,0,11,0,11,0,11,0,11,0,11