# Extracting and Unzipping Data

# referenced from Akira's git, code to download the data directly from NYC website
from os.path import getsize
from urllib.request import urlretrieve

output_dir = "../raw_data"
fname_templates = "yellow_tripdata_2018"

for m in range(1, 13):
    month = str(m).zfill(2)
    out = f'{fname_template}-{month}.csv'
    url = f"https://s3.amazonaws.com/nyc-tlc/trip+data/{out}"
    urlretrieve(url, f"{output_dir}/{out}")

    print(f"Done downloading {out} to {output_dir} with size {getsize(f'{output_dir}/{out}') / 1073741824:.2f}GB")

# referenced from Akira's git, code to download the data directly from NYC website
from os.path import getsize
from urllib.request import urlretrieve

output_dir = "../raw_data"
fname_template = "yellow_tripdata_2019"

for m in range(1, 13):
    month = str(m).zfill(2)
    out = f'{fname_template}-{month}.csv'
    url = f"https://s3.amazonaws.com/nyc-tlc/trip+data/{out}"
    urlretrieve(url, f"{output_dir}/{out}")

    print(f"Done downloading {out} to {output_dir} with size {getsize(f'{output_dir}/{out}') / 1073741824:.2f}GB")

In [1]:
#unzipping the taxi zones, NTA and census files
import zipfile

directory = "../raw_data_lite/"
taxi_zones = f"{directory}taxi_zones.zip"
nta = f"{directory}nynta_21b.zip"
census_1year = f"{directory}2018 1-year estimates.zip"
census_5year = f"{directory}2018 5-year estimates.zip"
zipfiles = (taxi_zones, nta, census_1year, census_5year)
for file in zipfiles:
    with zipfile.ZipFile(file) as z:
        # make sure they are in the same directory
        z.extractall("../raw_data_lite/")

In [2]:
#importing census data and census tracts data
import pandas as pd

census_tracts = pd.read_excel(f"{directory}nyc2010census_tabulation_equiv.xlsx")
census_1year = pd.read_csv(f"{directory}ACSDP1Y2018.DP03_data_with_overlays_2021-08-03T213532.csv")
census_5year = pd.read_csv(f"{directory}ACSDP5Y2018.DP03_data_with_overlays_2021-08-03T221820.csv")

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,32,38,39,40,42,43,46,47,50,51,54,55,56,58,59,62,63,64,66,67,70,71,72,74,75,78,79,82,83,86,87,90,91,94,95,102,103,104,106,107,110,111,114,115,118,119,122,123,126,127,128,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,184,186,187,190,191,194,195,198,199,202,203,204,206,207,210,211,214,215,218,219,222,223,226,227,230,231,234,235,238,239,242,243,254,255,262,263,270,271,278,279,286,287,294,295,298,299,300,302,303,306,307,310,311,314,315,318,319,322,323,326,327,330,331,334,335,338,339,354,355,356,378,379,380,382,383,386,387,390,391,394,395,398,399,400,402,403,406,407,408,410,411,412,414,415,416,418,419,422,423,426,427,430,431,434,435,436,438,439,442,443,446,447,450,451,454,455,456,458,459,462,463,466,467,470,471) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:

import geopandas as gpd
#converting the NTA and taxi zones data into geojson files
taxi_zones_shp = gpd.read_file(f"{directory}taxi_zones.shp")
taxi_zones_shp.to_file(f"{directory}taxi_zones.geojson", drivers = 'GeoJSON')

nta_shp = gpd.read_file(f"{directory}nynta_21b/nynta.shp")
nta_shp.to_file(f"{directory}nta.geojson", drivers = 'GeoJSON')
#reading the files in as dataframes
taxi_zones = gpd.read_file(f"{directory}taxi_zones.geojson")
nta = gpd.read_file(f"{directory}nta.geojson")

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [4]:
# Importing and starting a spark session
from pyspark.sql import SparkSession
from pyspark import SparkContext
#Supress warnings
spark = SparkSession.builder.getOrCreate()
sc = SparkContext.getOrCreate()
sc.setLogLevel('WARN')

spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', True)
#Make the spark files present well
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

21/08/04 22:37:37 WARN Utils: Your hostname, LAPTOP-D5HGLKLK resolves to a loopback address: 127.0.1.1; using 172.24.151.17 instead (on interface eth0)
21/08/04 22:37:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/08/04 22:37:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
# reference from Akira Wang's Github
#forming a schema for the dataframes
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import col

ints = ('VendorID', 'passenger_count', 'RateCodeID', 'RatecodeID','payment_type', 'PULocationID', 'DOLocationID')
doubles = ('trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount'
          , 'congestion_surcharge')
strings = ('store_and_fwd_flag',)
dtimes = ('tpep_pickup_datetime', 'tpep_dropoff_datetime')


dtypes = {column: IntegerType() for column in ints}
dtypes.update({column: DoubleType() for column in doubles})
dtypes.update({column: StringType() for column in strings})
dtypes.update({column: TimestampType() for column in dtimes})

In [6]:
taxi_dir = "../raw_data/yellow_tripdata_20"
#Using a dataset to form the schema
sdf = spark.read.csv(f"{taxi_dir}18-01.csv", header = True)

schema = StructType()
for column in sdf.columns:
    schema.add(column, # column name
               dtypes[column], # data type
               True # is nullable?
              )

In [7]:
#importing the taxi datasets in dictionaries with schemas


taxi18 = {'taxi18-' + str(i).zfill(2): spark.read.csv(f"{taxi_dir}18-{str(i).zfill(2)}.csv",
                                                     header = True, schema = schema) for i in range(1, 13)}
taxi19 = {'taxi19-' + str(i).zfill(2): spark.read.csv(f"{taxi_dir}19-{str(i).zfill(2)}.csv",
                                                     header = True, schema = schema) for i in range(1, 13)}

# Preprocessing the data

In [8]:
#merging the taxi zones and the NTA into a new dataframe
zones = gpd.sjoin(taxi_zones, nta, how = 'right')
zones

,index_left,OBJECTID,Shape_Leng_x,Shape_Area_x,zone,LocationID,borough,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng_y,Shape_Area_y,geometry
0,20,21,0.115974,0.000380,Bensonhurst East,21,Brooklyn,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
0,21,22,0.126170,0.000472,Bensonhurst West,22,Brooklyn,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
0,25,26,0.123548,0.000534,Borough Park,26,Brooklyn,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
0,66,67,0.099747,0.000394,Dyker Heights,67,Brooklyn,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
0,88,89,0.122795,0.000448,Flatbush/Ditmas Park,89,Brooklyn,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,237,238,0.060109,0.000185,Upper West Side North,238,Manhattan,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
194,238,239,0.063626,0.000205,Upper West Side South,239,Manhattan,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
194,242,243,0.094331,0.000438,Washington Heights North,243,Manhattan,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
194,243,244,0.080569,0.000360,Washington Heights South,244,Manhattan,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
194,260,261,0.027120,0.000034,World Trade Center,261,Manhattan,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."

In [9]:
import numpy as np

census_1year.replace('(X)', np.nan)
census_5year.replace('(X)', np.nan)

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0135PE,DP03_0135PM,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM
0,id,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,7080,NaN,0,17,0.0,0.5,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",3684,491,3684,NaN,1873,296,50.8,6.7,...,12.5,7.3,NaN,NaN,16.2,10.0,NaN,NaN,48.8,11.3
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",4689,425,4689,NaN,3052,385,65.1,5.1,...,14.4,9.3,NaN,NaN,7.3,4.7,NaN,NaN,21.5,10.9
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",4598,351,4598,NaN,2477,266,53.9,4.5,...,22.9,9.7,NaN,NaN,21.2,8.7,NaN,NaN,28.9,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",4852,447,4852,NaN,2961,367,61.0,6.1,...,7.7,9.3,NaN,NaN,17.2,7.4,NaN,NaN,8.2,6.7
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",2107,322,2107,NaN,818,245,38.8,7.9,...,60.7,18.9,NaN,NaN,41.1,12.6,NaN,NaN,89.4,8.7
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",3716,379,3716,NaN,1946,339,52.4,6.9,...,43.5,20.8,NaN,NaN,33.8,12.2,NaN,NaN,58.7,17.6
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",939,152,939,NaN,527,141,56.1,12.3,...,0.0,26.1,NaN,NaN,19.4,15.5,NaN,NaN,38.6,24.4
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,0,NaN,0,12,-,**,...,-,**,NaN,NaN,-,**,NaN,NaN,-,**

In [10]:
census_tracts

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,New York City 2010 Census Tract to Neighborhoo...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA),NaN
3,NaN,NaN,NaN,NaN,NaN,Code,Name
4,Bronx,005,2,031000,3704,BX31,Allerton-Pelham Gardens
...,...,...,...,...,...,...,...
2167,Staten Island,085,5,016901,3903,SI07,Westerleigh
2168,Staten Island,085,5,018701,3903,SI07,Westerleigh
2169,Staten Island,085,5,018901,3903,SI07,Westerleigh
2170,Staten Island,085,5,019700,3903,SI07,Westerleigh
2171,Staten Island,085,5,020100,3903,SI07,Westerleigh

In [11]:
#Cut out the first 4 rows
census_tracts = census_tracts.iloc[4:,:]
census_tracts

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,Bronx,005,2,031000,3704,BX31,Allerton-Pelham Gardens
5,Bronx,005,2,031200,3704,BX31,Allerton-Pelham Gardens
6,Bronx,005,2,031400,3704,BX31,Allerton-Pelham Gardens
7,Bronx,005,2,031600,3704,BX31,Allerton-Pelham Gardens
8,Bronx,005,2,031800,3704,BX31,Allerton-Pelham Gardens
...,...,...,...,...,...,...,...
2167,Staten Island,085,5,016901,3903,SI07,Westerleigh
2168,Staten Island,085,5,018701,3903,SI07,Westerleigh
2169,Staten Island,085,5,018901,3903,SI07,Westerleigh
2170,Staten Island,085,5,019700,3903,SI07,Westerleigh
2171,Staten Island,085,5,020100,3903,SI07,Westerleigh

In [12]:
#Create a dictionary for tract code -> nta (code in col 3, nta in col 4)
tracts_to_nta = {}

for index, row in census_tracts.iterrows():
    tracts_to_nta[row['Unnamed: 3']] = row['Unnamed: 5']

In [13]:
tracts_to_nta

{'031000': 'BX31',
 '031200': 'BX31',
 '031400': 'BK26',
 '031600': 'BX31',
 '031800': 'BX31',
 '032600': 'BK21',
 '034200': 'BK21',
 '034400': 'BX31',
 '034800': 'BK21',
 '035000': 'BK23',
 '036000': 'BX31',
 '023702': 'BX05',
 '039901': 'BX05',
 '039902': 'BX05',
 '040100': 'QN26',
 '040302': 'BX05',
 '040501': 'BX05',
 '040502': 'BX05',
 '040702': 'BX05',
 '041100': 'QN25',
 '041300': 'QN25',
 '041500': 'QN25',
 '038700': 'BK35',
 '038900': 'BK78',
 '039100': 'BK78',
 '039300': 'BK78',
 '039700': 'BK78',
 '032400': 'BX07',
 '032800': 'QN66',
 '033000': 'QN02',
 '033201': 'BX07',
 '033202': 'BX07',
 '033600': 'BK21',
 '033800': 'BX07',
 '034000': 'BK21',
 '014500': 'QN70',
 '014701': 'BX01',
 '014702': 'BX01',
 '016500': 'MN12',
 '016700': 'MN12',
 '016900': 'QN31',
 '038500': 'BK35',
 '039500': 'BK78',
 '030200': 'BK29',
 '046201': 'BK42',
 '046202': 'BK46',
 '006000': 'MN50',
 '012300': 'BX75',
 '015300': 'QN70',
 '015500': 'QN70',
 '015700': 'QN70',
 '016100': 'QN70',
 '005902': 'BX14',
 '006100': 'QN70',
 '014300': 'QN70',
 '017300': 'SI05',
 '017500': 'MN12',
 '017701': 'BX14',
 '017702': 'BX14',
 '017901': 'BX14',
 '017902': 'BX14',
 '018101': 'QN31',
 '018102': 'QN31',
 '018301': 'BX14',
 '018302': 'BX14',
 '022500': 'MN04',
 '022000': 'MN11',
 '035900': 'BK61',
 '036100': 'QN27',
 '036300': 'QN27',
 '036501': 'BK79',
 '036502': 'BK79',
 '036700': 'QN27',
 '036901': 'BX17',
 '036902': 'BX17',
 '037100': 'QN27',
 '037300': 'QN27',
 '037504': 'BX17',
 '035600': 'BX03',
 '035800': 'QN66',
 '036400': 'BK19',
 '038600': 'BK26',
 '045600': 'QN35',
 '045800': 'QN06',
 '046000': 'QN61',
 '048400': 'QN07',
 '023703': 'BX40',
 '023704': 'BX40',
 '023900': 'SI12',
 '038301': 'QN99',
 '038302': 'QN99',
 '018900': 'QN31',
 '019300': 'MN09',
 '019900': 'QN31',
 '020100': 'SI07',
 '021100': 'MN09',
 '021302': 'BX26',
 '021900': 'QN31',
 '008900': 'SI22',
 '009300': 'MN13',
 '011502': 'BX27',
 '011700': 'QN72',
 '011900': 'QN72',
 '012102': 'BX27',
 '012701': 'BX27',
 '015900': 'QN70',
 '025300': 'MN36',
 '025500': 'QN63',
 '026100': 'QN63',
 '026300': 'QN63',
 '026500': 'QN50',
 '026900': 'MN35',
 '008300': 'QN71',
 '008500': 'QN68',
 '008700': 'QN71',
 '012901': 'BK37',
 '013100': 'MN17',
 '006500': 'MN23',
 '006700': 'SI35',
 '006900': 'QN71',
 '007100': 'QN71',
 '007300': 'QN71',
 '007500': 'SI35',
 '007700': 'SI22',
 '007900': 'QN71',
 '012101': 'BX35',
 '012500': 'SI22',
 '013300': 'MN15',
 '013500': 'QN72',
 '014100': 'SI22',
 '014900': 'QN70',
 '015100': 'SI07',
 '018500': 'MN12',
 '001900': 'QN31',
 '002300': 'BK38',
 '002500': 'QN68',
 '002701': 'BX39',
 '002702': 'BX39',
 '003100': 'QN68',
 '003300': 'SI08',
 '003500': 'BK68',
 '003700': 'QN68',
 '003900': 'SI08',
 '004100': 'MN24',
 '004300': 'QN68',
 '005100': 'QN68',
 '022701': 'BX41',
 '022702': 'BX41',
 '022703': 'BX41',
 '022901': 'BX41',
 '022902': 'BX41',
 '023100': 'SI12',
 '023301': 'BX41',
 '023302': 'BX41',
 '023501': 'MN04',
 '023502': 'MN03',
 '024100': 'MN36',
 '037900': 'QN26',
 '038100': 'QN26',
 '030701': 'BX22',
 '030900': 'MN01',
 '031900': 'MN99',
 '032300': 'SI12',
 '033500': 'BK63',
 '033700': 'QN28',
 '034300': 'BK61',
 '034500': 'BK61',
 '035100': 'QN28',
 '041900': 'BK78',
 '042100': 'BK78',
 '042300': 'BK78',
 '042500': 'BK78',
 '042901': 'BX43',
 '042902': 'BX43',
 '043100': 'BK77',
 '002400': 'QN54',
 '016300': 'QN70',
 '017100': 'QN31',
 '027600': 'QN76',
 '033400': 'BX99',
 '043500': 'BK77',
 '050400': 'QN07',
 '021001': 'BX46',
 '021002': 'BX46',
 '021200': 'QN61',
 '021602': 'BX46',
 '022200': 'MN11',
 '026601': 'BX10',
 '026602': 'BX10',
 '027401': 'BX10',
 '027402': 'BX10',
 '030000': 'BK29',
 '051600': 'QN34',
 '022401': 'BX49',
 '022403': 'BX49',
 '022404': 'BX49',
 '022800': 'SI05',
 '024600': 'QN61',
 '024800': 'SI11',
 '025000': 'BK28',
 '028800': 'QN76',
 '029600': 'BK28',
 '000100': 'QN31',
 '011000': 'QN54',
 '011800': 'QN54',
 '013000': 'QN54',
 '013200': 'QN54',
 '013800': 'SI25',
 '014400': 'QN54',
 '015200': 'QN54',
 '015800': 'BX52',
 '016000': 'BK31',
 '016200': 'MN33',
 '016400': 'QN55',
 '016600': 'QN55',
 '018400': 'MN34',
 '019400': 'QN01',
 '026400': 'QN01',
 '004001': 'QN53',
 '004400': 'MN50',
 '004800': 'MN21',
 '005001': 'BX55',
 '005002': 'BX55',
 '005200': 'QN53',
 '006800': 'MN21',
 '007000': 'SI36',
 '007200': 'MN20',
 '000200': 'QN53',
 '000400': 'QN53',
 '001600': 'QN53',
 '002000': 'QN53',
 '002800': 'QN54',
 '003800': 'QN53',
 '004200': 'QN53',
 '004600': 'BK31',
 '007400': 'SI14',
 '008400': 'MN17',
 '008600': 'QN56',
 '009000': 'MN19',
 '028300': 'QN28',
 '028500': 'QN28',
 '028700': 'QN28',
 '028900': 'QN28',
 '029301': 'BX29',
 '029302': 'BX29',
 '029500': 'QN63',
 '029700': 'QN63',
 '030100': 'BK79',
 '005300': 'QN70',
 '020501': 'BX36',
 '020502': 'BX36',
 '021301': 'BX36',
 '021501': 'BX36',
 '021502': 'BX36',
 '021700': 'BK61',
 '024300': 'QN50',
 '024501': 'BX36',
 '024502': 'BX36',
 '024700': 'SI28',
 '024900': 'QN63',
 '025100': 'SI28',
 '025700': 'QN63',
 '026701': 'BX28',
 '026702': 'BX28',
 '027300': 'QN28',
 '027700': 'QN28',
 '027900': 'SI24',
 '028100': 'QN28',
 '040303': 'BX28',
 '040304': 'BX28',
 '040701': 'BX28',
 '040900': 'QN26',
 '020000': 'MN11',
 '023000': 'QN35',
 '023200': 'QN35',
 '023600': 'QN35',
 '023800': 'QN61',
 '024000': 'QN61',
 '024400': 'BK88',
 '025200': 'BK28',
 '025400': 'QN01',
 '025600': 'BK28',
 '028400': 'QN76',
 '028600': 'BK27',
 '006300': 'QN70',
 '019500': 'MN09',
 '019700': 'SI07',
 '020900': 'BX63',
 '022101': 'BX63',
 '022102': 'MN03',
 '022300': 'SI12',
 '005400': 'QN56',
 '005600': 'MN13',
 '006200': 'MN20',
 '006400': 'SI14',
 '007600': 'MN17',
 '021601': 'BX08',
 '021800': 'MN11',
 '007800': 'MN20',
 '009200': 'MN19',
 '009600': 'QN55',
 '009800': 'QN55',
 '020200': 'QN01',
 '020400': 'QN61',
 '020601': 'BX59',
 '036800': 'QN08',
 '037000': 'BK19',
 '037200': 'BX44',
 '037400': 'BX44',
 '037600': 'QN08',
 '037800': 'BX44',
 '038000': 'BX44',
 '038200': 'BK26',
 '038800': 'BK25',
 '039000': 'BK25',
 '039200': 'BK25',
 '039400': 'QN08',
 '039600': 'BK25',
 '039800': 'QN08',
 '040400': 'QN08',
 '040600': 'BK29',
 '040800': 'BK29',
 '042000': 'BK25',
 '042200': 'BK25',
 '042400': 'QN08',
 '041400': 'QN01',
 '041800': 'BK25',
 '042600': 'QN08',
 '042800': 'BK29',
 '043000': 'BK29',
 '043400': 'QN01',
 '043600': 'BK29',
 '044200': 'BK46',
 '044400': 'QN61',
 '044800': 'QN35',
 '044901': 'BX62',
 '044902': 'BX62',
 '045101': 'BX62',
 '045102': 'BX62',
 '016800': 'QN55',
 '017000': 'QN55',
 '017200': 'QN55',
 '017400': 'QN55',
 '017600': 'SI01',
 '017800': 'QN55',
 '018000': 'QN55',
 '028000': 'QN08',
 '028200': 'QN08',
 '029200': 'BK27',
 '003000': 'QN53',
 '003400': 'QN53',
 '003600': 'SI37',
 '005000': 'SI14',
 '005201': 'BK31',
 '005202': 'BK31',
 '005601': 'BK31',
 '005602': 'BK31',
 '005800': 'QN56',
 '006600': 'MN20',
 '012600': 'MN31',
 '013400': 'SI45',
 '013600': 'QN60',
 '014200': 'MN40',
 '023300': 'MN04',
 '024500': 'QN63',
 '025901': 'BK75',
 '025902': 'BK75',
 '026700': 'QN29',
 '050700': 'QN21',
 '053100': 'QN30',
 '123700': 'BK75',
 '029800': 'BK29',
 '030400': 'BK29',
 '040000': 'QN08',
 '040200': 'QN08',
 '041000': 'BK29',
 '041200': 'BK29',
 '043200': 'QN08',
 '018200': 'QN76',
 '018600': 'QN76',
 '018800': 'QN76',
 '019000': 'QN76',
 '025800': 'QN01',
 '026000': 'QN01',
 '026200': 'QN01',
 '026600': 'QN01',
 '026800': 'BK28',
 '027000': 'QN01',
 '027200': 'QN76',
 '027400': 'QN76',
 '027800': 'QN76',
 '029000': 'BK28',
 '029400': 'QN02',
 '011400': 'QN54',
 '011600': 'QN54',
 '019200': 'QN76',
 '021400': 'QN35',
 '021600': 'QN60',
 '022400': 'MN03',
 '022600': 'SI11',
 '023400': 'MN03',
 '024200': 'MN34',
 '044600': 'BK88',
 '046400': 'QN06',
 '046800': 'QN61',
 '047000': 'QN61',
 '047200': 'QN06',
 '047400': 'BK88',
 '047600': 'QN06',
 '047800': 'QN06',
 '036001': 'BK19',
 '036002': 'BK19',
 '036200': 'BK19',
 '036600': 'QN08',
 '061002': 'BK19',
 '061003': 'BK19',
 '061004': 'BK19',
 '000301': 'BK09',
 '000501': 'BK09',
 '000502': 'BK09',
 '000700': 'SI22',
 '000900': 'SI22',
 '089200': 'QN57',
 '089400': 'BK81',
 '089600': 'BK81',
 '089800': 'BK81',
 '090000': 'BK81',
 '090200': 'BK81',
 '090600': 'BK81',
 '090800': 'BK81',
 '091000': 'BK81',
 '091200': 'BK81',
 '091600': 'BK81',
 '091800': 'QN99',
 '092000': 'BK81',
 '092200': 'QN10',
 '092400': 'BK81',
 '042700': 'QN25',
 '042900': 'BK77',
 '043300': 'BK77',
 '043700': 'BK77',
 '043900': 'QN25',
 '044100': 'BK77',
 '044300': 'BK77',
 '044500': 'BK77',
 '044700': 'BK77',
 '045300': 'BK77',
 '028501': 'BK78',
 '039900': 'QN25',
 '040300': 'QN26',
 '040500': 'QN26',
 '041700': 'BK78',
 '048500': 'QN50',
 '048900': 'QN50',
 '049300': 'BK78',
 '095000': 'BK50',
 '095400': 'QN12',
 '095600': 'BK50',
 '095800': 'BK50',
 '096000': 'BK50',
 '096200': 'BK50',
 '096400': 'QN12',
 '096600': 'BK50',
 '096800': 'BK50',
 '097000': 'BK50',
 '097400': 'BK50',
 '098200': 'BK50',
 '098400': 'BK50',
 '098600': 'BK50',
 '098800': 'BK50',
 '099000': 'BK50',
 '099200': 'QN12',
 '099400': 'BK50',
 '099600': 'BK50',
 '099800': 'BK50',
 '100400': 'BK50',
 '100600': 'BK50',
 '100800': 'BK50',
 '101000': 'BK50',
 '101200': 'BK50',
 '101400': 'BK50',
 '101600': 'BK50',
 '101800': 'BK50',
 '102000': 'BK50',
 '102200': 'BK50',
 '102400': 'BK50',
 '102600': 'BK50',
 '102800': 'BK50',
 '103400': 'BK50',
 '004500': 'QN70',
 '004700': 'SI08',
 '004900': 'MN24',
 '005900': 'SI35',
 '019100': 'MN12',
 '022700': 'MN04',
 '022900': 'QN99',
 '023500': 'QN31',
 '022100': 'BK61',
 '027100': 'QN29',
 '029900': 'QN99',
 '030500': 'BK61',
 '030700': 'MN01',
 '031100': 'MN99',
 '031300': 'BK61',
 '031500': 'BK61',
 '031701': 'BK61',
 '031702': 'BK61',
 '033900': 'QN28',
 '034100': 'BK61',
 '034700': 'QN28',
 '034900': 'BK61',
 '035300': 'QN27',
 '035700': 'QN27',
 '021300': 'SI28',
 '032100': 'BK63',
 '032500': 'BK63',
 '033100': 'QN98',
 '033300': 'BK63',
 '035500': 'BK63',
 '114201': 'BK83',
 '114202': 'BK83',
 '114600': 'BK83',
 '117201': 'BK83',
 '117202': 'BK83',
 '117400': 'BK83',
 '117601': 'BK83',
 '117602': 'BK83',
 '117800': 'BK83',
 '118201': 'BK83',
 '118202': 'BK83',
 '118400': 'BK83',
 '118600': 'BK83',
 '118800': 'BK83',
 '119000': 'BK83',
 '120200': 'BK83',
 '001100': 'SI22',
 '001300': 'MN25',
 '001500': 'BK38',
 '002100': 'SI37',
 '012700': 'MN15',
 '012801': 'BK30',
 '014000': 'QN60',
 '014800': 'QN54',
 '015000': 'QN54',
 '019600': 'QN01',
 '019800': 'SI01',
 '020600': 'QN61',
 '020800': 'QN61',
 '021000': 'MN34',
 '078000': 'BK91',
 '078200': 'BK91',
 '078400': 'BK91',
 '081400': 'QN55',
 '081600': 'BK91',
 '083000': 'BK91',
 '083200': 'BK91',
 '083400': 'BK91',
 '083600': 'BK91',
 '083800': 'QN55',
 '084000': 'QN55',
 '085000': 'BK91',
 '085400': 'BK91',
 '085600': 'BK91',
 '085800': 'BK91',
 '086000': 'BK91',
 '087000': 'BK91',
 '087200': 'BK91',
 '093200': 'BK91',
 '107000': 'BK82',
 '107800': 'BK82',
 '109800': 'BK82',
 '110400': 'BK82',
 '110600': 'BK82',
 '111000': 'BK82',
 '111600': 'BK82',
 '111800': 'BK82',
 '112000': 'BK82',
 '112400': 'BK82',
 '115000': 'BK82',
 '115200': 'BK82',
 '116000': 'BK82',
 '116200': 'BK82',
 '116400': 'BK82',
 '116600': 'BK82',
 '116800': 'BK82',
 '117000': 'BK82',
 '119200': 'BK82',
 '119400': 'BK82',
 '119600': 'BK82',
 '119800': 'BK82',
 '120000': 'BK82',
 '120800': 'BK82',
 '121000': 'BK82',
 '121400': 'BK82',
 '122000': 'BK82',
 '112200': 'BK85',
 '112600': 'BK85',
 '112800': 'BK85',
 '113000': 'BK85',
 '113200': 'BK85',
 '113400': 'BK85',
 '114400': 'BK85',
 '115600': 'BK85',
 '115800': 'BK85',
 '044900': 'BK90',
 '047700': 'BK90',
 '048100': 'QN29',
 '049100': 'BK90',
 '049500': 'QN30',
 '049700': 'QN30',
 '050100': 'BK90',
 '050300': 'BK90',
 '050500': 'QN21',
 '051100': 'QN30',
 '079000': 'QN76',
 '079200': 'QN76',
 '079400': 'BK95',
 '081800': 'QN55',
 '082400': 'BK95',
 '082600': 'BK95',
 '082800': 'BK95',
 '048000': 'QN61',
 '048200': 'QN07',
 '050600': 'QN07',
 '050801': 'BK42',
 '050803': 'BK42',
 '050804': 'BK42',
 '051001': 'BK42',
 '051002': 'BK42',
 '051200': 'QN34',
 '051400': 'BK42',
 '051601': 'BK42',
 '051602': 'BK42',
 '051800': 'QN08',
 '052000': 'QN08',
 '052600': 'QN08',
 '052800': 'QN08',
 '076400': 'BK42',
 '076600': 'BK42',
 '077000': 'BK42',
 '077200': 'BK42',
 '077400': 'BK42',
 '078600': 'BK42',
 '078800': 'QN76',
 '152200': 'BK42',
 '065000': 'QN66',
 '067200': 'BK58',
 '067400': 'BK58',
 '067600': 'BK58',
 '067800': 'BK58',
 '068000': 'QN03',
 '068200': 'QN66',
 '068800': 'BK58',
 '069000': 'QN03',
 '069200': 'BK58',
 '072000': 'BK58',
 '072200': 'BK58',
 '072400': 'BK58',
 '072600': 'BK58',
 '072800': 'BK58',
 '073000': 'BK58',
 '073200': 'BK58',
 '073400': 'BK58',
 '073600': 'BK58',
 '073800': 'BK58',
 '074000': 'BK58',
 '074200': 'BK58',
 '074400': 'BK58',
 '074600': 'BK58',
 '077600': 'BK58',
 '094401': 'BK58',
 '094402': 'BK58',
 '002901': 'BK68',
 '017900': 'QN31',
 '018100': 'SI24',
 '018300': 'QN31',
 '018501': 'QN31',
 '018700': 'QN31',
 '063600': 'BK45',
 '064000': 'BK45',
 '064400': 'BK45',
 '064600': 'QN66',
 '064800': 'BK45',
 '065200': 'BK45',
 '065400': 'QN05',
 '065600': 'QN05',
 '065800': 'BK45',
 '066000': 'QN05',
 '066200': 'BK45',
 '067000': 'BK45',
 '068600': 'BK45',
 '069601': 'BK45',
 '069602': 'BK45',
 '069800': 'BK45',
 '070000': 'BK45',
 '070201': 'BK45',
 '070600': 'BK45',
 '030600': 'QN03',
 '030800': 'BK26',
 '037401': 'BK26',
 '037402': 'BK26',
 '049900': 'QN29',
 '056100': 'QN99',
 '056300': 'BK76',
 '056500': 'QN19',
 '056900': 'BK76',
 '057100': 'BK76',
 '057300': 'BK76',
 '057500': 'BK76',
 '057900': 'QN19',
 '058900': 'QN20',
 '059100': 'QN20',
 '059300': 'QN20',
 '041401': 'BK25',
 '041402': 'BK25',
 '041600': 'BK25',
 '055400': 'QN34',
 '055600': 'QN34',
 '058200': 'QN34',
 '058400': 'BK25',
 '058800': 'BK25',
 '048600': 'BK41',
 '048800': 'BK41',
 '049000': 'BK41',
 '049200': 'QN06',
 '049400': 'BK41',
 '049600': 'QN34',
 '049800': 'BK41',
 '054800': 'QN34',
 '055000': 'BK44',
 '055200': 'QN34',
 '055800': 'QN34',
 '056000': 'QN34',
 '056200': 'QN34',
 '056400': 'QN34',
 '056600': 'QN34',
 '056800': 'QN34',
 '057400': 'BK44',
 '057600': 'BK44',
 '057800': 'BK44',
 '058000': 'QN34',
 '063800': 'QN05',
 '064200': 'BK44',
 '053000': 'QN08',
 '053200': 'QN34',
 '053400': 'BK43',
 '053800': 'QN34',
 '054200': 'QN34',
 '054400': 'BK43',
 '054600': 'BK43',
 '074800': 'BK43',
 '075000': 'BK43',
 '075200': 'BK43',
 '075400': 'BK43',
 '075600': 'BK43',
 '075800': 'BK43',
 '076000': 'BK43',
 '076200': 'BK43',
 '076800': 'BK43',
 '051300': 'QN30',
 '051500': 'QN30',
 '051700': 'QN30',
 '051900': 'BK73',
 '052300': 'BK73',
 '052500': 'QN30',
 '052700': 'BK73',
 '054700': 'QN20',
 '054900': 'QN20',
 '055100': 'QN20',
 '055300': 'QN20',
 '055500': 'QN20',
 '055700': 'QN20',
 '030300': 'MN01',
 '036900': 'BK79',
 '043800': 'BK46',
 '044000': 'QN01',
 '045000': 'QN35',
 '045200': 'QN35',
 '045400': 'QN35',
 '012100': 'SI35',
 '012902': 'BK37',
 '013700': 'QN72',
 '013900': 'MN15',
 '015400': 'SI99',
 '017700': 'SI24',
 '040700': 'QN26',
 '054300': 'BK99',
 '066600': 'BK99',
 '070202': 'BK99',
 '070203': 'BK99',
 '085200': 'BK99',
 '118000': 'BK99',
 '990100': 'SI99',
 '020300': 'MN09',
 '020500': 'QN31',
 '020700': 'SI28',
 '021500': 'MN03',
 '032700': 'QN28',
 '032900': 'QN28',
 '079601': 'BK60',
 '079602': 'BK60',
 '079801': 'BK60',
 '079802': 'BK60',
 '080000': 'BK60',
 '080200': 'BK60',
 '080400': 'BK60',
 '080600': 'BK60',
 '080800': 'BK60',
 '081000': 'BK60',
 '082000': 'BK60',
 '082200': 'BK60',
 '087401': 'BK60',
 '087600': 'BK60',
 '087800': 'BK60',
 '088000': 'BK60',
 '084600': 'BK96',
 '084800': 'BK96',
 '086200': 'BK96',
 '086400': 'QN55',
 '086600': 'BK96',
 '086800': 'BK96',
 '088200': 'BK96',
 '088400': 'QN57',
 '088600': 'BK96',
 '088800': 'BK96',
 '089000': 'BK96',
 '092800': 'QN10',
 '093000': 'BK96',
 '093400': 'BK96',
 '093600': 'BK96',
 '093800': 'QN10',
 '094600': 'BK96',
 '035200': 'QN08',
 '057000': 'BK17',
 '057200': 'BK17',
 '058600': 'BK17',
 '059000': 'QN33',
 '059200': 'QN33',
 '059401': 'BK17',
 '059402': 'BK17',
 '059600': 'QN33',
 '059800': 'QN33',
 '060000': 'QN33',
 '060600': 'QN33',
 '060800': 'QN33',
 '061200': 'QN33',
 '061600': 'BK17',
 '062000': 'QN66',
 '062200': 'QN33',
 '062600': 'QN66',
 '062800': 'BK17',
 '063200': 'QN66',
 '105801': 'BK93',
 '105804': 'BK93',
 '027500': 'QN28',
 '028502': 'BK35',
 '029100': 'QN28',
 '029300': 'QN63',
 '037500': 'QN26',
 '037700': 'QN26',
 '038300': 'BK35',
 '008800': 'QN56',
 '009400': 'QN55',
 '010000': 'QN55',
 '010200': 'QN55',
 '010400': 'QN55',
 '010600': 'QN55',
 '010800': 'QN54',
 '011200': 'QN54',
 '012000': 'QN54',
 '001800': 'SI14',
 '002200': 'QN53',
 '008000': 'MN20',
 '008200': 'MN20',
 '010100': 'QN72',
 '012200': 'SI45',
 '014700': 'SI07',
 '035400': 'BK23',
 '035601': 'BK23',
 '035602': 'BK23',
 '050900': 'BK72',
 '052900': 'BK72',
 '053300': 'BK72',
 '053500': 'QN30',
 '053700': 'BK72',
 '053900': 'QN20',
 '054500': 'QN20',
 '050000': 'QN07',
 '050202': 'QN07',
 '150200': 'BK40',
 '001501': 'MN25',
 '001502': 'MN25',
 '031703': 'MN25',
 '031704': 'MN25',
 '024302': 'MN03',
 '025900': 'QN63',
 '019702': 'MN11',
 '020102': 'MN11',
 '000800': 'SI37',
 '002700': 'SI37',
 '002900': 'SI37',
 '003001': 'MN27',
 '003601': 'MN27',
 '011500': 'QN72',
 '012900': 'MN15',
 '015602': 'SI01',
 '015802': 'QN55',
 '016002': 'MN33',
 '017401': 'MN33',
 '017402': 'MN33',
 '003002': 'MN22',
 '003200': 'QN53',
 '003602': 'MN22',
 '004000': 'SI08',
 '023700': 'MN04',
 '008100': 'SI22',
 '009100': 'QN71',
 '009700': 'SI22',
 '009900': 'QN99',
 '010300': 'QN72',
 '011100': 'QN72',
 '010602': 'MN31',
 '012400': 'QN54',
 '023801': 'MN31',
 '023802': 'MN31',
 '000201': 'MN28',
 '000202': 'MN28',
 '000600': 'SI37',
 '001001': 'MN28',
 '001002': 'MN28',
 '001200': 'QN53',
 '001401': 'MN28',
 '001402': 'MN28',
 '002201': 'MN28',
 '002202': 'MN28',
 '002601': 'MN28',
 '002602': 'MN28',
 '021303': 'MN06',
 '021703': 'MN06',
 '022301': 'MN06',
 '022302': 'MN06',
 '009500': 'QN72',
 '010900': 'MN17',
 '011201': 'SI36',
 '011202': 'SI45',
 '011300': 'QN72',
 '019701': 'MN09',
 '020101': 'MN09',
 '020701': 'MN09',
 '020901': 'MN09',
 '000500': 'MN99',
 '008601': 'MN19',
 '008602': 'MN19',
 '008603': 'MN19',
 '010601': 'MN19',
 '011203': 'MN19',
 '011401': 'SI36',
 '011402': 'SI45',
 '012800': 'QN54',
 '014801': 'MN40',
 '014802': 'MN40',
 '015001': 'MN40',
 '015002': 'MN40',
 '015801': 'QN55',
 '016001': 'MN40',
 '024301': 'MN36',
 '005501': 'MN23',
 '005502': 'MN23',
 '005700': 'QN70',
 '014401': 'MN32',
 '014402': 'MN32',
 '014601': 'MN32',
 '014602': 'MN32',
 '015601': 'SI54',
 '071600': 'QN98',
 '006501': 'QN70',
 '006502': 'QN70',
 '113900': 'QN48',
 '118100': 'QN48',
 '140902': 'QN48',
 '141700': 'QN48',
 '142900': 'QN48',
 '145101': 'QN48',
 '145900': 'QN48',
 '018401': 'QN76',
 '018402': 'QN76',
 '108500': 'QN46',
 '109300': 'QN46',
 '109700': 'QN46',
 '109900': 'QN46',
 '111300': 'QN46',
 '112300': 'QN46',
 '112900': 'QN46',
 '113300': 'QN46',
 '139900': 'QN46',
 '140300': 'QN46',
 '140901': 'QN46',
 '143500': 'QN46',
 '144100': 'QN46',
 '144700': 'QN46',
 ...}

In [14]:
header = ['GEO_ID', 'Name', 
         'Civilian labor force estimates', 'Civilian labor force error',
         'Unemployment estimates', 'Unemployment error',
         'Employed estimates', 'Employed error', 
         'Agriculture, forestry, fishing and hunting, and mining estimates',
         'Agriculture, forestry, fishing and hunting, and mining error',
         'Construction estimates', 'Construction error', 'Manufacturing estimates',
         'Manufacturing error', 'Wholesale trade estimates', 'Wholesale trade error',
         'Retail trade estimates', 'Retail trade error', 
         'Transportation and warehousing, and utilities estimates',
         'Transportation and warehousing, and utilities error',
         'Information estimates', 'Information error', 
         'Finance and insurance, and real estate and rental and leasing estimates',
         'Finance and insurance, and real estate and rental and leasing error',
         'Professional, scientific, and management, and administrative and waste management services estimates',
         'Professional, scientific, and management, and administrative and waste management services error',
         'Educational services, and health care and social assistance estimates',
         'Educational services, and health care and social assistance error',
         'Arts, entertainment, and recreation, and accommodation and food services estimates',
         'Arts, entertainment, and recreation, and accommodation and food services error',
         'Other services, except public administration estimates',
         'Other services, except public administration error',
         'Public administration estimates', 'Public administration error',
         'Total households estimates', 'Total households error',
         'Less than 10,000 estimates', 'Less than 10,000 error',
         '10,000 to 14,999 estimates', '10,000 to 14,999 error',
         '15,000 to 24,999 estimates', '15,000 to 24,999 error',
         '25,000 to 34,999 estimates', '25,000 to 34,999 error',
         '35,000 to 49,999 estimates', '35,000 to 49,999 error',
         '50,000 to 74,999 estimates', '50,000 to 74,999 error',
         '100,000 to 149,999 estimates', '100,000 to 149,999 error',
         '150,000 to 199,999 estimates', '150,000 to 199,999 error',
         '200,000 or more estimates', '200,000 or more error']

header_ID = ['GEO_ID', 'NAME',
            'DP03_0003E', 'DP03_0003M', 'DP03_0005E', 'DP03_0005M', 
            'DP03_0032E', 'DP03_0032M', 'DP03_0033E', 'DP03_0033M',
            'DP03_0034E', 'DP03_0034M', 'DP03_0035E', 'DP03_0035M',
            'DP03_0036E', 'DP03_0036M', 'DP03_0037E', 'DP03_0037M',
            'DP03_0037E', 'DP03_0037M', 'DP03_0038E', 'DP03_0038M',
            'DP03_0039E', 'DP03_0039M', 'DP03_0040E', 'DP03_0040M',
            'DP03_0041E', 'DP03_0041M', 'DP03_0042E', 'DP03_0042M',
            'DP03_0043E', 'DP03_0043E', 'DP03_0044E', 'DP03_0044M',
            'DP03_0045E', 'DP03_0045M', 'DP03_0051E', 'DP03_0051M',
            'DP03_0052E', 'DP03_0052E', 'DP03_0053E', 'DP03_0054M',
            'DP03_0055E', 'DP03_0055E', 'DP03_0056E', 'DP03_0056M',
            'DP03_0057E', 'DP03_0058E', 'DP03_0059E', 'DP03_0059M',
            'DP03_0060E', 'DP03_0060M', 'DP03_0061E', 'DP03_0061M']

header_dict = {header_ID[i]:header[i] for i in range(0, len(header))}

In [15]:
#create a new dataframe to store the aggregated data from census
# variables of interest: population in civillian labor force, unemployed in labor force
# industry job distributions, and family income distributions, with all their estimates 
# and margin of errors, where possible
# column keys are found from inspection.

def census_converter(dataset):
    """A function that takes the census dataset and returns wanted columns"""
    new_dataset = dataset[['GEO_ID', 'NAME',
                            'DP03_0003E', 'DP03_0003M', 'DP03_0005E', 'DP03_0005M', 
                            'DP03_0032E', 'DP03_0032M', 'DP03_0033E', 'DP03_0033M',
                            'DP03_0034E', 'DP03_0034M', 'DP03_0035E', 'DP03_0035M',
                            'DP03_0036E', 'DP03_0036M', 'DP03_0037E', 'DP03_0037M',
                            'DP03_0037E', 'DP03_0037M', 'DP03_0038E', 'DP03_0038M',
                            'DP03_0039E', 'DP03_0039M', 'DP03_0040E', 'DP03_0040M',
                            'DP03_0041E', 'DP03_0041M', 'DP03_0042E', 'DP03_0042M',
                            'DP03_0043E', 'DP03_0043E', 'DP03_0044E', 'DP03_0044M',
                            'DP03_0045E', 'DP03_0045M', 'DP03_0051E', 'DP03_0051M',
                            'DP03_0052E', 'DP03_0052E', 'DP03_0053E', 'DP03_0054M',
                            'DP03_0055E', 'DP03_0055E', 'DP03_0056E', 'DP03_0056M',
                            'DP03_0057E', 'DP03_0058E', 'DP03_0059E', 'DP03_0059M',
                            'DP03_0060E', 'DP03_0060M', 'DP03_0061E', 'DP03_0061M']]

    return new_dataset

census_1year = census_converter(census_1year)
census_1year = census_1year.iloc[1:,:]
census_1year.rename(columns = header_dict, inplace = True)

census_5year = census_converter(census_5year)
census_5year = census_5year.iloc[1:,:]
census_5year.rename(columns = header_dict, inplace = True)

In [16]:
census_1year

,GEO_ID,Name,Population estimates,Population error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates","Agriculture, forestry, fishing and hunting, and mining error",...,"35,000 to 49,999 estimates","35,000 to 49,999 error","50,000 to 74,999 estimates","50,000 to 74,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
1,0500000US36005,"Bronx County, New York",666788,8260,67584,5163,599204,8654,953,757,...,63280,4821,78932,49680,44525,3409,17938,2152,15423,2006
2,0500000US36047,"Kings County, New York",1300711,7713,63329,4311,1237382,8425,944,552,...,99621,5375,135502,108389,138728,4824,74552,4431,96429,4334
3,0500000US36061,"New York County, New York",948539,10316,46659,4173,901880,9870,1113,557,...,57562,5022,85761,72674,105852,6178,60381,4832,170558,5603
4,0500000US36081,"Queens County, New York",1202385,8993,62447,4667,1139938,9197,351,275,...,86634,5134,132482,102014,137163,3896,64162,3849,61354,3628
5,0500000US36085,"Richmond County, New York",224531,5189,9201,2107,215330,5241,131,155,...,14030,2168,22603,20925,32274,2655,20648,2215,18155,2330

In [17]:
census_5year

,GEO_ID,Name,Population estimates,Population error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates","Agriculture, forestry, fishing and hunting, and mining error",...,"35,000 to 49,999 estimates","35,000 to 49,999 error","50,000 to 74,999 estimates","50,000 to 74,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",0,17,0,17,0,17,0,17,...,0,17,0,0,0,17,0,17,0,17
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",1873,296,295,201,1578,255,0,12,...,153,99,271,126,204,80,79,48,78,56
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",3052,385,244,128,2808,343,0,17,...,166,90,353,337,340,125,247,104,123,74
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",2477,266,164,73,2313,253,0,17,...,299,122,352,161,152,88,23,25,21,17
5,1400000US36005001900,"Census Tract 19, Bronx County, New York",1451,202,192,81,1259,178,0,12,...,169,59,179,115,99,56,0,12,15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",2961,367,123,66,2838,349,0,17,...,125,75,389,378,436,120,230,95,49,36
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",818,245,71,51,747,235,0,12,...,48,45,133,100,68,60,7,11,9,15
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",1946,339,72,48,1874,332,0,17,...,173,96,102,91,278,101,148,96,77,58
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",527,141,10,16,517,135,0,12,...,18,17,44,79,43,30,83,43,6,10
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,0,12,0,12,0,12,...,0,12,0,0,0,12,0,12,0,12

In [33]:
#appending NTA zones into the census dataframe

nta_column = []
for index, row in census_5year.iterrows():
    nta_column.append(tracts_to_nta[row['GEO_ID'][-6::]])

In [35]:
len(nta_column)

2167

In [36]:
census_5year.insert(2, "NTA_Zone", nta_column, True)

In [37]:
census_5year

,GEO_ID,Name,NTA_Zone,Population estimates,Population error,Unemployment estimates,Unemployment error,Employed estimates,Employed error,"Agriculture, forestry, fishing and hunting, and mining estimates",...,"35,000 to 49,999 estimates","35,000 to 49,999 error","50,000 to 74,999 estimates","50,000 to 74,999 error","100,000 to 149,999 estimates","100,000 to 149,999 error","150,000 to 199,999 estimates","150,000 to 199,999 error","200,000 or more estimates","200,000 or more error"
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",QN31,0,17,0,17,0,17,0,...,0,17,0,0,0,17,0,17,0,17
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",QN53,1873,296,295,201,1578,255,0,...,153,99,271,126,204,80,79,48,78,56
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",QN53,3052,385,244,128,2808,343,0,...,166,90,353,337,340,125,247,104,123,74
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",QN53,2477,266,164,73,2313,253,0,...,299,122,352,161,152,88,23,25,21,17
5,1400000US36005001900,"Census Tract 19, Bronx County, New York",QN31,1451,202,192,81,1259,178,0,...,169,59,179,115,99,56,0,12,15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",SI12,2961,367,123,66,2838,349,0,...,125,75,389,378,436,120,230,95,49,36
2164,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",SI12,818,245,71,51,747,235,0,...,48,45,133,100,68,60,7,11,9,15
2165,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",SI12,1946,339,72,48,1874,332,0,...,173,96,102,91,278,101,148,96,77,58
2166,1400000US36085032300,"Census Tract 323, Richmond County, New York",SI12,527,141,10,16,517,135,0,...,18,17,44,79,43,30,83,43,6,10
2167,1400000US36085990100,"Census Tract 9901, Richmond County, New York",SI99,0,12,0,12,0,12,0,...,0,12,0,0,0,12,0,12,0,12

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK88,Borough Park,39247.227807,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
1,4,Queens,081,QN51,Murray Hill,33266.904842,5.248828e+07,"POLYGON ((1038593.459 221913.355, 1039369.281 ..."
2,4,Queens,081,QN27,East Elmhurst,19816.711907,1.972685e+07,"POLYGON ((1022728.275 217530.808, 1023052.645 ..."
3,3,Brooklyn,047,BK25,Homecrest,27514.022550,2.999197e+07,"POLYGON ((995746.857 161665.390, 995833.832 16..."
4,4,Queens,081,QN41,Fresh Meadows-Utopia,22106.431272,2.777485e+07,"POLYGON ((1045896.171 205383.934, 1045643.832 ..."
...,...,...,...,...,...,...,...,...
190,1,Manhattan,061,MN06,Manhattanville,17357.246252,1.073480e+07,"POLYGON ((999174.261 238490.105, 999084.570 23..."
191,1,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45490.580725,3.705659e+07,"POLYGON ((983754.618 217001.185, 983857.657 21..."
192,1,Manhattan,061,MN15,Clinton,34570.776420,1.837394e+07,"POLYGON ((985958.652 220876.750, 985970.759 22..."
193,1,Manhattan,061,MN01,Marble Hill-Inwood,31122.126082,1.777194e+07,"MULTIPOLYGON (((1005732.070 251035.202, 100573..."
194,1,Manhattan,061,MN99,park-cemetery-etc-Manhattan,155318.884098,9.149638e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
182,5,Staten Island,085,SI12,Mariner's Harbor-Arlington-Port Ivory-Granitev...,71306.752688,8.950232e+07,"MULTIPOLYGON (((939997.095 173013.579, 939915...."