In [2]:
import pandas as pd

train_data = pd.read_csv('../data/merged_data_2018.csv')
#creata an untipped trip column for the model
train_data['untipped_trips'] = train_data['count'] - train_data['tipped_trips']

In [4]:
from sklearn.preprocessing import Normalizer

transformer = Normalizer()

train= transformer.fit_transform(train_data.drop(['tipped_trips', 'count', 'tip_rates', 
                                                        'taxi_zone', 'Unnamed: 0', 'untipped_trips'], axis = 1))

In [5]:
import statsmodels.api as sm
from statsmodels.api import families
#fit the model
model = sm.GLM(endog = train_data[['tip_rates']], 
               exog = train, 
               family=families.Binomial())
binom = model.fit()
binom.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              tip_rates   No. Observations:                  258
Model:                            GLM   Df Residuals:                      245
Model Family:                Binomial   Df Model:                           12
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -105.67
Date:                Mon, 16 Aug 2021   Deviance:                       48.991
Time:                        07:47:10   Pearson chi2:                     50.6
No. Iterations:                     6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -8.3934      2.839     -2.957      0.003     -13.957      -2.830
x2             1.9733      0.951      2.075      0.038       0.109       3.837
x3             0.6435    118.879      0.005      0.996    -232.355     233.642
x4            62.9221    191.269      0.329      0.742    -311.958     437.803
x5           -63.3446    190.718     -0.332      0.740    -437.145     310.456
x6           -62.5114    208.028     -0.300      0.764    -470.238     345.215
x7            -0.7319    199.892     -0.004      0.997    -392.513     391.050
x8            -6.8121    142.798     -0.048      0.962    -286.691     273.067
x9             7.6449     55.149      0.139      0.890    -100.444     115.734
x10           -9.3638    119.607     -0.078      0.938    -243.790     225.062
x11           91.4310    150.720      0.607      0.544    -203.974     386.836
x12          125.9136     81.305      1.549      0.121     -33.441     285.268
x13            3.0719    116.234      0.026      0.979    -224.742     230.886
==============================================================================
"""

In [6]:
train_data

,Unnamed: 0,tip_rates,mean_trip_distance,mean_trip_duration,count,tipped_trips,taxi_zone,"Less than 10,000 percentage","10,000 to 14,999 percentage","15,000 to 24,999 percentage","25,000 to 34,999 percentage","35,000 to 49,999 percentage","50,000 to 74,999 percentage","75,000 to 99,999 percentage","100,000 to 149,999 percentage","150,000 to 199,999 percentage","200,000 or more percentage",Unemployment percentage,untipped_trips
0,0,0.941603,2.906553,17.941381,991928,934002,148,0.124592,0.085918,0.103878,0.063061,0.072959,0.145102,0.116224,0.120204,0.068163,0.099898,0.068137,57926
1,1,0.745243,5.666914,22.926202,10563,7872,243,0.092769,0.056654,0.109192,0.090962,0.136231,0.173346,0.129192,0.120231,0.047269,0.044154,0.105263,2691
2,2,0.591837,8.203959,31.115986,245,145,31,0.057692,0.103846,0.103846,0.065385,0.107692,0.280769,0.138462,0.123077,0.019231,0.000000,0.081967,100
3,3,0.943433,2.260926,14.726728,931617,878918,137,0.079064,0.062094,0.040761,0.063362,0.083426,0.140920,0.079302,0.179699,0.096511,0.174861,0.032552,52699
4,4,0.268007,7.131344,31.187793,2388,640,85,0.113742,0.061557,0.096380,0.122423,0.146789,0.163165,0.124593,0.113248,0.031765,0.026339,0.077571,1748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,253,0.655948,6.919508,23.499412,3825,2509,134,0.060567,0.036734,0.082431,0.094741,0.099665,0.192338,0.155702,0.146149,0.065787,0.065885,0.048448,1316
254,254,0.217353,9.213909,38.006559,1141,248,208,0.080372,0.053237,0.100876,0.060294,0.092176,0.156729,0.124118,0.192808,0.072159,0.067230,0.080687,893
255,255,0.784777,4.517722,22.781015,6858,5382,36,0.100945,0.067073,0.122012,0.076728,0.130686,0.169515,0.106108,0.137605,0.054319,0.035008,0.099653,1476
256,256,0.314286,12.909857,46.212143,70,22,187,0.129886,0.027393,0.068637,0.088643,0.097722,0.133426,0.132502,0.169898,0.089104,0.062789,0.050450,48
257,257,0.364331,6.767043,28.969406,8377,3052,89,0.088913,0.063454,0.102071,0.108352,0.118655,0.191633,0.119745,0.113776,0.048323,0.045079,0.076758,5325

In [117]:
#fitting the model with two parameters

train_new = transformer.fit_transform(train_data[['mean_trip_duration', 'mean_trip_distance']])
model_new = sm.GLM(endog = train_data[['tip_rates']], 
               exog = train_new, 
               family=families.Binomial())
binom_new = model_new.fit()
binom_new.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              tip_rates   No. Observations:                  258
Model:                            GLM   Df Residuals:                      256
Model Family:                Binomial   Df Model:                            1
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -117.51
Date:                Mon, 16 Aug 2021   Deviance:                       72.680
Time:                        06:41:48   Pearson chi2:                     139.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1             3.4773      0.575      6.044      0.000       2.350       4.605
x2           -12.9437      2.264     -5.718      0.000     -17.380      -8.507
==============================================================================
"""

In [118]:
from sklearn.metrics import r2_score, mean_squared_error

y_pred = list(binom_new.predict())

y_true = list(train_data['tip_rates'])

print('r2 score: ', r2_score(y_true, y_pred))
print('mean_squared_error: ', mean_squared_error(y_true, y_pred))

r2 score:  0.4253794872119071
mean_squared_error:  0.054743135270763965

## Processing the prediction data

In [78]:
# Importing and starting a spark session
from pyspark.sql import SparkSession
from pyspark import SparkContext
#Supress warnings
spark = SparkSession.builder.getOrCreate()
sc = SparkContext.getOrCreate()
sc.setLogLevel('WARN')

spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', True)
#Make the spark files present well
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [4]:
#import taxi zones and nta data
import geopandas as gpd
taxi_zones = gpd.read_file('../raw_data_lite/taxi_zones.geojson')
tracts = gpd.read_file('../raw_data_lite/tracts.geojson')

/home/binhducvu/jupyterenv/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [5]:
#merging the taxi zones and the NTA into a new dataframe
merged_zones = gpd.overlay(tracts, taxi_zones, how = 'intersection')

# filter out redundant columns
merged_zones = merged_zones.filter(['BoroCT2010', 'zone', 'LocationID', 'geometry'], axis = 1)
# create area column
merged_zones['area'] = merged_zones.geometry.area

#in cases where a tract overlaps more than one zone, remove all except the one with max overlap area.
merged_zones.sort_values(by='area', inplace=True)
merged_zones.drop_duplicates(subset='BoroCT2010', keep='last', inplace=True)

#create a dictionary for converting from tract code to taxi zone
tracts_to_zones = {}
for index, row in merged_zones.iterrows():
    tracts_to_zones[row['BoroCT2010']] = row['LocationID']

In [6]:
taxi_2019 = spark.read.parquet('../preprocessed_data/preprocessed_taxi_2019.parquet')

In [7]:
#loading in the data
from pyspark.sql.functions import *
census_2018 = pd.read_csv('../preprocessed_data/census_2018.csv')

#aggregating the taxi data to merge with census tracts via LocationID
taxi_2019 = taxi_2019.withColumn('tipped', (taxi_2019.tip_amount > 0).cast('int'))
economic_data = taxi_2019.groupBy('PULocationID') \
                                 .agg(mean('tipped').alias('tip_rates'),
                                      mean('trip_distance').alias('mean_trip_distance'),
                                      mean('trip_duration').alias('mean_trip_duration'),
                                      count('PULocationID').alias('count'),
                                      sum('tipped').alias('tipped_trips'))
economic_data = economic_data.toPandas()
economic_data

,PULocationID,tip_rates,mean_trip_distance,mean_trip_duration,count,tipped_trips
0,148,0.940875,2.912018,18.078758,911099,857230
1,243,0.739046,5.725353,23.380153,9837,7270
2,31,0.579832,8.308193,31.556303,238,138
3,137,0.942168,2.275690,14.891743,850416,801235
4,85,0.261905,7.251281,31.609300,2310,605
...,...,...,...,...,...,...
255,134,0.647416,6.970834,23.448816,3619,2343
256,208,0.213775,9.282952,38.469171,1118,239
257,36,0.778654,4.555822,22.843589,6343,4939
258,187,0.304348,12.956377,46.867391,69,21
259,89,0.353637,6.864644,29.227201,8028,2839

In [8]:
taxi_zone_column = []
delete_index = []
error_counter = 0

#dictionary for converting counties to borough code:
boroughs = {'New': '1', 'Bronx' : '2', 
            'Kings': '3', 'Queens':'4', 
            'Richmond': '5'}
for index, row in census_2018.iterrows():
    # get the 6 digit tract code at the end
    code = row['GEO_ID'][-6:]
    
    #get the name of the county
    county = row['Name'].split()
    county = county[3]
    
    #convert the county to boro code and append to code
    code = boroughs[county] + code
    
    #handle missing values, as there is there is a difference in dataset lengths
    # upon extraction
    if code in tracts_to_zones.keys():
        taxi_zone_column.append(tracts_to_zones[code])
    else:
        delete_index.append(index)

In [9]:
#delete non matching indices
census_2018 = census_2018.drop(index = delete_index)

#append taxi zones
census_2018['taxi_zone'] = taxi_zone_column

In [10]:
census_2018 = census_2018.groupby('taxi_zone').agg('sum')
census_2018 = census_2018.reset_index()
census_2018

,taxi_zone,Unnamed: 0,Civilian labor force estimates,Unemployment estimates,Total households estimates,"Less than 10,000 estimates","10,000 to 14,999 estimates","15,000 to 24,999 estimates","25,000 to 34,999 estimates","35,000 to 49,999 estimates","50,000 to 74,999 estimates","75,000 to 99,999 estimates","100,000 to 149,999 estimates","150,000 to 199,999 estimates","200,000 or more estimates"
0,2,2867,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3,2587,15835,948,9634,510,389,838,726,1073,1476,1372,1784,759,707
2,4,6743,11690,576,11871,1962,1585,1514,941,1347,1305,609,1318,493,797
3,5,8486,13187,627,9120,295,219,444,549,999,1507,970,1949,1241,947
4,6,10367,7544,541,5655,450,260,312,394,670,681,791,964,589,544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,259,4509,23598,1888,15186,1230,833,1072,1339,1631,2749,2076,2525,867,864
255,260,20520,23624,1005,15817,604,694,1156,1857,2485,3349,2089,1972,1010,601
256,261,1112,3647,84,2534,87,26,45,19,35,180,221,552,419,950
257,262,4982,21866,722,18375,952,470,983,682,1142,1822,2173,3526,1877,4748
258,263,6252,30094,959,23619,748,515,1179,757,1430,3712,2713,4538,2364,5663

In [11]:
predict_data = pd.merge(economic_data, census_2018, how = 'inner',
                         right_on = 'taxi_zone', left_on = 'PULocationID')

In [12]:
#convert all the estimates into percentage estimates
income_estimates = ['Less than 10,000', '10,000 to 14,999', 
                    '15,000 to 24,999', '25,000 to 34,999',
                    '35,000 to 49,999', '50,000 to 74,999', 
                    '75,000 to 99,999', '100,000 to 149,999', 
                    '150,000 to 199,999', '200,000 or more']
#create a column for percentages, then drop its estimate counterpart
for income in income_estimates:
    predict_data[f'{income} percentage'] = (predict_data[f'{income} estimates'] 
                                           / predict_data['Total households estimates'])
    predict_data = predict_data.drop([f'{income} estimates'], axis = 1)

predict_data['Unemployment percentage'] = (predict_data['Unemployment estimates']
                                          / predict_data['Civilian labor force estimates'])
predict_data = predict_data.drop(['Unemployment estimates', 'Civilian labor force estimates',
                               'Total households estimates', 'Unnamed: 0'], axis = 1)
predict_data = predict_data.drop('PULocationID', axis = 1)

In [13]:
import numpy as np
#fix cases where division resulted in NaN
predict_data = predict_data.replace(np.NaN, 0)
predict_data

,tip_rates,mean_trip_distance,mean_trip_duration,count,tipped_trips,taxi_zone,"Less than 10,000 percentage","10,000 to 14,999 percentage","15,000 to 24,999 percentage","25,000 to 34,999 percentage","35,000 to 49,999 percentage","50,000 to 74,999 percentage","75,000 to 99,999 percentage","100,000 to 149,999 percentage","150,000 to 199,999 percentage","200,000 or more percentage",Unemployment percentage
0,0.940875,2.912018,18.078758,911099,857230,148,0.121068,0.081218,0.105391,0.067665,0.082937,0.138161,0.118539,0.112269,0.071205,0.101547,0.068850
1,0.739046,5.725353,23.380153,9837,7270,243,0.081446,0.063565,0.106018,0.083638,0.135474,0.172044,0.121669,0.140742,0.049067,0.046337,0.100246
2,0.579832,8.308193,31.556303,238,138,31,0.000000,0.000000,0.000000,0.000000,0.000000,0.526316,0.000000,0.210526,0.263158,0.000000,0.181818
3,0.942168,2.275690,14.891743,850416,801235,137,0.061315,0.065252,0.066297,0.069592,0.066297,0.129460,0.082771,0.155979,0.104548,0.198489,0.028187
4,0.261905,7.251281,31.609300,2310,605,85,0.093753,0.059212,0.075200,0.122965,0.139840,0.168756,0.126419,0.127800,0.045988,0.040067,0.071285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,0.647416,6.970834,23.448816,3619,2343,134,0.061732,0.043706,0.085801,0.076435,0.087210,0.198993,0.144612,0.147936,0.079255,0.074320,0.037579
254,0.213775,9.282952,38.469171,1118,239,208,0.080288,0.060855,0.094610,0.061092,0.100137,0.144470,0.116361,0.185773,0.085042,0.071373,0.073148
255,0.778654,4.555822,22.843589,6343,4939,36,0.094665,0.072036,0.122363,0.086473,0.119906,0.147194,0.109257,0.145607,0.063946,0.038552,0.067158
256,0.304348,12.956377,46.867391,69,21,187,0.118839,0.027791,0.055274,0.074774,0.085828,0.143559,0.122217,0.216337,0.100415,0.054967,0.037062
257,0.353637,6.864644,29.227201,8028,2839,89,0.079014,0.063891,0.097357,0.095218,0.116060,0.195821,0.123145,0.125258,0.049928,0.054308,0.069755

In [54]:
predict_data

,tip_rates,mean_trip_distance,mean_trip_duration,count,tipped_trips,taxi_zone,"Less than 10,000 percentage","10,000 to 14,999 percentage","15,000 to 24,999 percentage","25,000 to 34,999 percentage","35,000 to 49,999 percentage","50,000 to 74,999 percentage","75,000 to 99,999 percentage","100,000 to 149,999 percentage","150,000 to 199,999 percentage","200,000 or more percentage",Unemployment percentage
0,0.940875,2.912018,18.078758,911099,857230,148,0.121068,0.081218,0.105391,0.067665,0.082937,0.138161,0.118539,0.112269,0.071205,0.101547,0.068850
1,0.739046,5.725353,23.380153,9837,7270,243,0.081446,0.063565,0.106018,0.083638,0.135474,0.172044,0.121669,0.140742,0.049067,0.046337,0.100246
2,0.579832,8.308193,31.556303,238,138,31,0.000000,0.000000,0.000000,0.000000,0.000000,0.526316,0.000000,0.210526,0.263158,0.000000,0.181818
3,0.942168,2.275690,14.891743,850416,801235,137,0.061315,0.065252,0.066297,0.069592,0.066297,0.129460,0.082771,0.155979,0.104548,0.198489,0.028187
4,0.261905,7.251281,31.609300,2310,605,85,0.093753,0.059212,0.075200,0.122965,0.139840,0.168756,0.126419,0.127800,0.045988,0.040067,0.071285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,0.647416,6.970834,23.448816,3619,2343,134,0.061732,0.043706,0.085801,0.076435,0.087210,0.198993,0.144612,0.147936,0.079255,0.074320,0.037579
254,0.213775,9.282952,38.469171,1118,239,208,0.080288,0.060855,0.094610,0.061092,0.100137,0.144470,0.116361,0.185773,0.085042,0.071373,0.073148
255,0.778654,4.555822,22.843589,6343,4939,36,0.094665,0.072036,0.122363,0.086473,0.119906,0.147194,0.109257,0.145607,0.063946,0.038552,0.067158
256,0.304348,12.956377,46.867391,69,21,187,0.118839,0.027791,0.055274,0.074774,0.085828,0.143559,0.122217,0.216337,0.100415,0.054967,0.037062
257,0.353637,6.864644,29.227201,8028,2839,89,0.079014,0.063891,0.097357,0.095218,0.116060,0.195821,0.123145,0.125258,0.049928,0.054308,0.069755

In [61]:
predict_data['untipped_trips'] = predict_data['count'] - predict_data['tipped_trips']

# Predicting the 2019 data

In [123]:
#generating the predictions for the data

predictors = transformer.fit_transform(predict_data[['mean_trip_duration', 'mean_trip_distance']])

predictions = binom_new.get_prediction(exog = predictors)

In [124]:
predictions.summary_frame()

         mean   mean_se  mean_ci_lower  mean_ci_upper
0    0.798135  0.038045       0.713382       0.862651
1    0.574149  0.033507       0.507549       0.638162
2    0.516785  0.035290       0.447738       0.585196
3    0.814887  0.037952       0.728885       0.878168
4    0.621307  0.033529       0.553741       0.684473
..        ...       ...            ...            ...
253  0.412115  0.042288       0.332404       0.496718
254  0.585159  0.033395       0.518579       0.648767
255  0.706523  0.035917       0.631591       0.771723
256  0.475691  0.037643       0.402964       0.549464
257  0.604823  0.033377       0.537902       0.668033

[258 rows x 4 columns]

In [125]:
predict_data[['tip_rates']]

     tip_rates
0     0.940875
1     0.739046
2     0.579832
3     0.942168
4     0.261905
..         ...
253   0.647416
254   0.213775
255   0.778654
256   0.304348
257   0.353637

[258 rows x 1 columns]

In [127]:
from sklearn.metrics import r2_score

y_pred = predictions.summary_frame()
y_pred = list(y_pred['mean'])
y_true = predict_data['tip_rates']

print('r2 score: ', r2_score(y_true, y_pred))
print('mean_squared_error: ', mean_squared_error(y_true, y_pred))

r2 score:  0.4400743558240219
mean_squared_error:  0.054247652409150526